# Кеши Python
__pycache__/
*.py[codz]

# Тесты и покрытие
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Линтеры и статический анализ
.ruff_cache/

# Логи
*.log

# Виртуальное окружение
.venv/

# Переменные окружения
.env
!.env.example

# Артефакты сборки
build/
dist/
*.egg-info/
